 body {
  background-color: #dbdbdb;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  position: relative;
  z-index: 3;
  top: 40%;
  left: 5%;
  opacity: 1;
}

h1 {
  margin-top: 3rem;
  text-align: center;
  opacity: .8;
}

.playButton {
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.playButton:hover {
  box-shadow: 0 6px 20px 0 #00ff15;
}

#text {
  width: 500px;
  height: 300px;
  overflow: auto;
  background-color: #cdcdcd;
  border: none;
  color: #222;
  font-size: 24px;
  padding: 20px;
  border-radius: 12px;
  resize: none;
  margin-top: 2rem;
}

#wrapper {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.instruction {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}
